<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
    <title>编辑联系人</title>
</head>
<body>
<div class="container">
    <form method="post">
        <p th:text="${result}"></p>
        <h5>*为必填</h5>
        <div class="inputBOX">
            <input name="name" type="text" th:placeholder="${user.getName()}">
        </div>
        <div class="inputBOX">
            <input name="tele" type="text" th:placeholder="${user.getTele()}">
        </div>
        <div class="inputBOX">
            <input name="post" type="text" th:placeholder="${user.getPost()}">
        </div>
        <div class="inputBOX">
            <input name="addr" type="text" th:placeholder="${user.getAddr()}">
        </div>
        <div class="inputBOX">
            <input name="qq" type="text" th:placeholder="${user.getQq()}">
        </div>
        <input type="submit" id="login" value="修改">
    </form>
</div>
</body>
</html>